.button{
    -fx-background-color:transparent;
    -fx-border-radius: 20;

    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-border-width: 3px;


    -fx-border-color: -button-hover;
    -fx-cursor:hand;
}

.button:hover{

    -fx-background-color:-button-hover;
    -fx-text-fill:white

}
.button:hover .glyph-icon{
    -fx-fill:white
}